body { background: #77f53f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 34px; display: flex; }
.block-uploader-0 { color: #dd1de7; font-size: 16px; margin-bottom: 5px; }
.block-config-1 { color: #d3243f; font-size: 15px; margin-bottom: 5px; }
.block-session-2 { color: #ee3362; font-size: 14px; margin-bottom: 5px; }
.block-validator-3 { color: #9b77cd; font-size: 12px; margin-bottom: 5px; }
.block-payment-4 { color: #b9694a; font-size: 15px; margin-bottom: 5px; }
.block-search-5 { color: #336193; font-size: 21px; margin-bottom: 5px; }
.block-metrics-6 { color: #9ceed8; font-size: 15px; margin-bottom: 5px; }